torch~=1.10.2
numpy~=1.21.2
fastnlp~=0.7.0
omegaconf~=2.1.1
tensorboardx~=2.5
tqdm~=4.62.3
gensim~=4.1.2
torchmetrics~=0.7.2
datasets~=1.18.3
allennlp~=2.9.0
flask~=2.0.3
tensorboard~=2.8.0
pandas~=1.4.1